.comment-panel {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.35);
    display: flex; justify-content: center; align-items: center;
    z-index: 2000;
}
.comment-box {
    width: 90%; max-width: 600px;
    background: white;
    border-radius: 12px;
    max-height: 80vh;
    display: flex; flex-direction: column;
}
.comments-list {
    height: 55vh; overflow-y: auto;
}
.single-comment {
    background: #f8f9fa;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 8px;
}
.close-comment-panel:hover { color: red; }
